@model IEnumerable<Planszex.Controllers.CheckoutController.CheckoutViewModel>

@{
    ViewData["Title"] = "Dziękujemy za zakup";
}

<h1 style="text-align:center">Dziękujemy za zakupy w naszym sklepie!</h1>

<br /><br />
<h4 style="text-align:center">Dziękują Gracjan i Michał :D</h4>